/* Configration */
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
    font-family: Titillium;
    src: url(../fonts/Titillium/TitilliumWeb-Regular.ttf);
}
@font-face {
    font-family: Aller;
    src: url(../fonts/Aller/Aller-Rg.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins,Aller,Titillium,Raleway,Montserrat;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
}
html{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
body{
    background-color: #0d311d;
    background-image: url(../images/temp/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    display: inline-block;
}
.clearfix{
    clear: both;
}
form{
    display: inline-block;

}
hr{
    width: 20%;
    margin: 20px auto;
}
*::-webkit-scrollbar {
    background-color: #DDD;
    width: 10px;
}
*::-webkit-scrollbar-thumb {
    background-color: rgb(20, 49, 33);
}
div.darkBackground{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: table;
}
div.container{
    z-index: 1;
    width: 82%;
    /* background-color:rgba(37, 98, 63,0.46); */
    margin: 0 auto 0 auto;
    display: block;
    transition: none;
    overflow: hidden;
}
/* public styling */
div.logo{
    overflow: hidden;
}
div.logo svg{
    height: 100%;
    fill: rgb(37, 98, 63)/*#21884f*//*#0d311d*/;
}
hr.green{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(37, 98, 63,1);
    padding: 0;
    width: 80%;
    margin: 10px auto;

}
/* Header */
.headerVideoContainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.headerVideo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.headerVideoContainer #toContent{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    height: 120px;
    cursor: pointer;
}
@keyframes tocontent{
    0%{
        transform: translateY(-10px);
        opacity: 0.5;
    }
    50%{
        transform: translateY(0px);
        opacity: 0.8;
    }
    60%{
        transform: translateY(-2px);
        opacity: 0.9;
    }
    70%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(-10px);
        opacity: 0.5;
    }
}
.headerVideoContainer #toContent:hover i{
    animation: none;
    opacity: 1;
}
.headerVideoContainer #toContent i{
    opacity: 0.8;
    line-height: 120px;
    font-size: 120px;
    font-weight: bolder;
    text-shadow: 0px -4px 2px #FFF;
    color: #11c15c;
    animation: tocontent 2s ease infinite;
}
.headerVideoContainer .text{
    position: absolute;
    left: 10%;
    bottom: 10%;
    text-shadow: 4px 4px 20px #000, -4px -4px 20px #000;
}
.headerVideoContainer .text h1{
    padding: 20px;
    padding-bottom: 5px;
    color: #FFF;
}
.headerVideoContainer .text p{
    padding: 20px;
    padding-top: 5px;
    color: #DDD;
}
#navContainer{
    height: 80px;
    width: 100%;
    background-color: #FFF;
    z-index: 1000;
}
div.notification {
    position: fixed;
    bottom: 0;
    background-color: #25623f00;
    z-index: 5000;
    border-top: 5px solid #FFF;
    /* border-bottom: 5px solid #FFF; */
    color: #FFF;
    height: auto;
    left: -100%;
    overflow: hidden;
    transition: none;
    width: 100%;
    display: none;
}
div.notification button{
    width: 100%;
    border-bottom-width: 5px;
    background-color: #DDD;
    opacity: 0.9;
    cursor: pointer;
}
div.notification button:hover{
    opacity: 1;
    border-color: #DDD;
}
div.notification p{
    background-color: #25623f;
    padding: 10px;
    transition: none;
    display: none;
    opacity: 0.93;
}
div.notification p.error{
    background-color: #b71818;
}
div#navContainer.fixedNav{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.95;
}
div#navContainer + div,
div#navContainer + form{
    transition: none;
}
div#navContainer.fixedNav + div,
div#navContainer.fixedNav + form{
    margin-top: 80px;
}
nav#mainNav{
    transition-property: width,margin;
    margin-top: 0px;
    width: 80%;
    height: 80px;
    background-color: #FFF;
    display: block;
    margin-left: 10%;
}
div#navContainer.fixedNav nav#mainNav{
    margin: 0;
    width: 100%;
}
#mainNav *{
    height: 100%;
    display: inline-block;
}
#mainNav div#user{
    float: right;
    position: relative;
    width: 14%;
    display: block;
    text-align: center;
}
#mainNav div#user img{
    border: 3px solid rgb(37, 98, 63);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin: 5px;
}
#mainNav div#user ul{
    position: absolute;
    width: 100%;
    top: calc(100% + 5px);
    list-style: none;
    display: block;
    right: 0;
    z-index: 50;
    overflow: hidden;
    /* transition: none; */
    height: 0;
    left: 0;
}
#mainNav div#user:hover ul{
    height: 400%;
}
#mainNav div#user ul li{
    display: table;
    overflow: hidden;
    height: 20%;
    line-height: 100%;
    width: 100%;
}
#mainNav div#user ul li a{
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
#mainNav div#user ul li:hover{
    transform: none;
    background-color: #DDD;
}
#mainNav #user i:hover {
    transform: translateX(10px);
}
#mainNav #user i {
    font-size: 3em;
    line-height: 80px;
    color: #24603d;
    cursor: pointer;
}
#mainNav div.logo{
    padding-left: 5%;
    float: left;
    background-color: #FFF;
    position: relative;
}
#mainNav div.logo a{
    position: relative
}
#mainNav ul{
    width: 40%;
    list-style: none;
    display: flex;
    float: right;
    margin-right: 6%;
    height: 99%;
}
#mainNav ul:hover{
}
#mainNav ul li{
    display: inline-block;
    flex-grow: 1;
    text-align: center;
    line-height: 80px;
    color: rgb(37, 98, 63);
    font-size: 1.15em;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
}
#mainNav ul li a{
    display: block;
    height: 100%;
    width: 100%;
}
#mainNav ul li:hover{
    flex-grow: 2;
    /* color: #FFF; */
    /* background-color: rgba(37, 98, 63,0.8); */
    transform: scaleZ(1.5);
    border-bottom: 5px solid rgba(37, 98, 63,0.5);
}
#mainNav ul li#active{
    flex-grow: 2;
    /* color: #FFF; */
    /* background-color: rgb(37, 98, 63); */
    border-bottom: 5px solid rgb(37, 98, 63);
}
#mainNav div.padding{
    height: 100%;
    width: 10%;
    float: right;
    background-color: #FFF;
}
#menuButton{
    position: relative;
    right: 0;
    top: 0;
    height: 100%;
    width: 80px;
    margin-right: 10px;
    float: right;
    cursor: pointer;
    display: none;
}
#menuButton:hover{
    background-color: rgba(37, 98, 63,1);
}
#menuButton:hover span{
    background-color: #FFF;
}
#menuButton span{
    position: absolute;
    display: block;
    height: 6px;
    width: 70%;
    left: 15%;
    border-radius: 20px;
    background-color: rgba(37, 98, 63,1);
}
#menuButton[case='closed'] span:nth-of-type(1){
    top: 30%;
}
#menuButton[case='closed'] span:nth-of-type(2){
    top: 45%;
}
#menuButton[case='closed'] span:nth-of-type(3){
    top: 60%;
}
#menuButton[case='opened']{
    background-color: rgba(37, 98, 63,1);
}
#menuButton[case='opened'] span{
    height: 10px;
}
#menuButton[case='opened'] span:nth-of-type(1){
    top: 45%;
    transform: rotateZ(45deg);
    background-color: #FFF;
}
#menuButton[case='opened'] span:nth-of-type(2){
    top: 45%;
    opacity: 0;
}
#menuButton[case='opened'] span:nth-of-type(3){
    top: 45%;
    transform: rotateZ(-45deg);
    background-color: #FFF;
}
.panelContainer{
    height: 800px;
    width: 100%;
    transition: none;
}
/* Content */
.slide{
    padding: 1%;
    overflow: hidden;
    display: flex;
    width: 100%;
}
.slide.dark{
    background: url(../images/temp/green.png);
}
.slide.dark .text{
    margin-top: 10%;
    margin-left: 4%;
    float: left;
}
.slide.dark .text h1{
    color: #FFF;
}
.slide.dark .text p{
    color: #DDD;
    padding-top: 3%;
    padding-left: 10%;
}
.slide.light{
    background: #DDD;
}
.slide.light .text{
    margin-top: 10%;
    margin-right: 4%;
    float: right;
}
.slide.light .text h1{
    color: rgba(37, 98, 63,1);
}
.slide.light .text p{
    color: rgba(37, 98, 63,0.7);
    padding-top: 3%;
    padding-left: 10%;
}
.slide .panelContainer{
    width: 65%;
    display: inline-block;
    height: 500px;
    margin: 4% 0;
}
.slide.dark .panelContainer{
    float: right;
}
.slide.light .panelContainer{
    float: left;
}
.slide .text{
    vertical-align: top;
    position: static;
    display: inline-block;
}
.outerBox{
    padding: 0;
    opacity: 0;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.outerBox.masonryTwoColumn{
    
}
.outerBox.masonryTwoColumn>.inputContainer.Button{
    display: inline-block;
    height: fit-content;
}
.outerBox.masonryTwoColumn .masonryColumn{
    width: 50%;
    display: inline-block;
    float: left;
    padding: 10px;
}
.outerBox.masonryTwoColumn div.masonryColumn:first-of-type{
    padding-left: 0;
}
.outerBox.masonryTwoColumn div.masonryColumn:nth-of-type(2){
    padding-right: 0;
}
div div.masonryColumn .outerBox{
    padding: 0;
    background-position: 50% 50%;
    background-size: cover;
}
div div.masonryColumn .outerBox .rightBox{
    background: none;
    overflow: initial;
}
div div.masonryColumn .outerBox .haveSlide{
    overflow: hidden;
}
div div.masonryColumn .outerBox .innerBox.darker{
    background: rgba(37, 98, 63, 0.9);
}
div div.masonryColumn .outerBox .innerBox.darker:hover{
    background: rgba(37, 98, 63, 0.05);
}
div div.masonryColumn .outerBox .innerBox.darker:hover p{
    opacity: 0.1;
}
div div.masonryColumn .outerBox .innerBox.darker:hover h1{
     text-shadow: 3px 2px 2px rgba(37, 98, 63, 1);
}
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(even),
div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(odd){
    background-color: rgb(37, 98, 63);
}
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(odd),
div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(even){
    background-color: #DDD;
    color: rgba(37, 98, 63, 0.8);
}
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(odd) select option,
div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(even) select option{
    color: rgba(37, 98, 63, 0.8);
}
option{
    color: rgba(37, 98, 63, 0.8);
}
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(odd) .inputContainer input,
div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(even) .inputContainer input,
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(odd) .inputContainer select,
div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(even) .inputContainer select,
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(odd) .inputContainer button,
div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(even) .inputContainer button{
    color: #DDD;
    background-color: rgba(37, 98, 63,0.7);
    border-color: rgb(37, 98, 63);
}
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(odd) .members .member:not(.addMember):hover,
div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(even) .members .member:not(.addMember):hover{
    background: rgba(37, 98, 63,1);
}
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(odd) button:hover,
div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(even) button:hover{
    background-color: rgb(37, 98, 63);
    border-color: #DDD;
}
[placeholder]::before{
    color: #DDDD;
}
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(odd) [placeholder]::before,
div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(even) [placeholder]::before{
    color: rgba(37, 98, 63, 0.8);
}
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(odd) .rightBox [contenteditable='true'],
div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(even) .rightBox [contenteditable='true']{
    border-bottom: 4px solid rgba(37, 98, 63,1);
    background-color: rgba(37, 98, 63,0.1);
    position: relative;
}
.rightBox [contenteditable='true']{
    border-bottom: 4px solid #DDD;
    background-color: #DDD2;
}
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(odd) .haveSlide::after,
div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(even) .haveSlide::after,
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(odd) .members::after,
div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(even) .members::after{
    background-color: rgb(37, 98, 63);
}
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(odd) .innerBox.darker,
div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(even) .innerBox.darker{
    background: rgba(221, 221, 221, 0.905);
}
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(odd) .innerBox.darker:hover,
 div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(even) .innerBox.darker:hover{
    background: #DDD1;
}
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(odd) .innerBox.darker:hover p,
 div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(even) .innerBox.darker:hover p{
    opacity: 0.1;
}
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(odd) .innerBox.darker:hover h1,
div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(even) .innerBox.darker:hover h1{
     text-shadow: 3px 2px 2px #DDD;
}
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(odd) .rightBox,
div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(even) .rightBox{
    color: rgb(37, 98, 63);
    background: none;
}
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(odd) .rightBox .inputContainer button,
div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(even) .rightBox .inputContainer button{
    color: #DDD;
    background-color: rgba(37, 98, 63,0.7);
    border-color: rgb(37, 98, 63);
}
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(odd) .rightBox .inputContainer button:hover,
div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(even) .rightBox .inputContainer button:hover{
    background-color: rgb(37, 98, 63);
    border-color: #DDD;
}
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(odd) .rightBox .inputContainer button.delete,
div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(even) .rightBox .inputContainer button.delete{
    background-color: rgba(177, 0, 0, 0.617);
    color: #FFF;
}
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(odd) .rightBox .inputContainer button.delete:hover,
div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(even) .rightBox .inputContainer button.delete:hover{
    background-color: #ff0000bf;
}
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(odd) .rightBox .rightBoxBackground,
div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(even) .rightBox .rightBoxBackground{
    transform: scaleX(-2) scaleY(2) rotateZ(-10deg) translateX(-10%);
    left: 0;
    right: auto;
    z-index: 0;
}
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(odd) .rightBox .rightBoxBackground svg,
div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(even) .rightBox .rightBoxBackground svg{
    fill: rgb(37, 98, 63);
}
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(odd) .members .member,
div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(even) .members .member{
    background: rgba(37, 98, 63,0.7);
    color: #DDD;
}
div div.masonryColumn:nth-of-type(even) .outerBox:nth-of-type(odd) .dropdown,
div div.masonryColumn:nth-of-type(odd) .outerBox:nth-of-type(even) .dropdown{
    background-color: #DDD;
}
body>.outerBox{
    min-height: calc(100% - 80px);
}
.outerBox{
    width: 100%;
    margin: 10px 0;
    padding: 30px;
}
.fullHeight{
    height: 100%;
}
.fullWidth,
.rightBox .inputContainer.fullWidth{
    width: 100%;
}
.withoutOverflow{
    overflow: hidden;
}
input[type="time"],input[type="date"]{
    resize: none;
}
.windowHeight{
    min-height: calc(100% - 80px);
    /* height: calc(100% - 80px); */
    margin: 0;
    /*min-height: fit-content;*/
}
.innerBox{
    width: 100%;
    display: flex;
    padding: 0;
    position: relative;
    overflow: hidden;
}
.outerBox.dark{
    background-color: rgb(37, 98, 63);
}
.outerBox.light{
    background-color: #DDD;
}
.leftBox{
    width:30%;
    height: inherit;
    text-align: center;
    background-color: #DDD;
    flex-grow: 10;
}
/* .outerBox */.tableCell{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
}
.light .innerBox{
    flex-direction: row-reverse;
}
.light .leftBox{
    background-color: rgb(37, 98, 63);
}
.light .leftBox h1{
    color: #DDD;
}
.square{
  position: relative;
  width: 50%;
}
.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.square span {
    position: absolute;
    width: 24%;
    bottom: 0;
}
.leftBox img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 7px solid rgba(37, 98, 63,1);
    object-fit: cover;
    margin: auto;
}
.leftBox h1{
    margin-top: 10px;
    color: rgba(37, 98, 63,1);
    margin: auto 5%;
}
.leftBox + .rightBox{
    width: 70%;
}
.rightBox{
    height: 100%;
    width: 100%;
    padding: 40px 0;
    background-color: rgba(37, 98, 63,1);
    color:#FFF;
    display: table;
    overflow: hidden;
    position: relative;
    background: url(../images/temp/green.png);
    flex-grow: 10;
}
.paddedBox{
    padding: 30px;
}
.dark .rightBox,
.light .rightBox{
    background: none;
    overflow: initial;
}
.rightBox h1{
    text-align: center;
    font-size: 2.5em;
    margin: 20px;
}
.light .rightBox{
    color: rgb(37, 98, 63);
}
.rightBox p {
    /* font-size: 1.1em; */
    padding: 10px 5px;
    font-size: 1em;
    margin: 0 5%;
    font-weight: 100;
    margin: 0 10%;
    display: table;
    width: 80%;
}
.rightBox h2{
    padding: 10px 5px;
    font-weight: 100;
    margin: 0 10%;
    display: table;
    width: 80%;
}
.rightBox i.headerIcon{
    color:#DDD;
    font-size: 34px;
    width: 150px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.rightBox .rightBoxBackground{
    transform: scaleX(2) scaleY(2) rotateZ(-10deg) translateX(-10%);
    opacity: 0.2;
    position: absolute;
    right: 0;
    top: 20%;
    bottom: 0;
    width: 30%;
}
.rightBox .rightBoxBackground svg{
    fill:#FFF;
    width: 100%;
    height: 100%;
}
.light .rightBox .rightBoxBackground{
    transform: scaleX(-2) scaleY(2) rotateZ(-10deg) translateX(-10%);
    left: 0;
    right: auto;
    z-index: 0;
}
.light .rightBox .rightBoxBackground svg{
    fill: rgb(37, 98, 63);
}
.downArrow{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    height: 120px;
    cursor: pointer;
    z-index: 50;
    left: 0;
}
.upArrow{
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    height: 120px;
    cursor: pointer;
    z-index: 50;
    left: 0;
}
.downArrow:hover,
.upArrow:hover{

}
.downArrow:hover i,
.upArrow:hover i{
    animation: none;
    opacity: 1;
}
.downArrow i,
.upArrow i{
    opacity: 0.8;
    line-height: 80px;
    font-size: 80px;
    font-weight: bolder;
    text-shadow: 0px -4px 2px #FFF;
    color: #11c15c;
    animation: tocontent 2s ease infinite;
}
.contactsBar{
    height: 100%;
    width: 20%;
    overflow: hidden;
    flex-grow: 5;
    display: flex;
    flex-flow: column;
}
.contactsBar input[name='search']{
    padding: 10px 20px;
    width: 90%;
    margin: auto;
    margin-top: 4%;
    border: none;
}
.contactsBar .contacts{
    direction:rtl;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}
.contactsBar .contacts.search{
    direction: rtl;
    overflow: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    width: 90%;
    margin: 0 5%;
    position: absolute;
    height: auto;
    transition: none;
    display: none;
    background: transparent;
    z-index: 500;
}
.contactsBar .contacts.search .contact{
    background: #AAA;
    padding: 15px;
}
.contactsBar .contacts *{
    direction: ltr;
}
.contactsBar .contacts::-webkit-scrollbar {
    background-color: rgba(37, 98, 63,0);
    width: 10px;
}
.contactsBar .contacts::-webkit-scrollbar-thumb {
    background-color: rgba(37, 98, 63,0);
}
.contactsBar:hover .contacts::-webkit-scrollbar-thumb {
    background-color: rgba(37, 98, 63,0.8);
}
.contactsBar .contacts .contact{
    padding: 2%;
    padding-left: 10%;
    height: 10%;
    text-align:left;
    display:table;
    width:100%;
    background-color: #DDD;
    cursor: pointer;
}
.contactsBar .contacts .contact:hover{
    background-color: rgba(37, 98, 63,0.7);
}
.contactsBar .contacts .contact:hover h2{
    color: #DDD;
}
.contactsBar .contacts .contact#opened{
    background: url(../images/temp/green.png);
}
.contactsBar .contacts .contact img{
    float: left;
    width: 70px;
    height: 70px;
    border: 4px solid rgba(37, 98, 63,1);
    position: initial;
}
.contactsBar .contacts .contact h2{
    padding-left: 8%;
    display:table-cell;
    vertical-align:middle;
    color: rgba(37, 98, 63,1);
}
.contactsBar .contacts .contact#opened img{
    border-color: #DDD;
}
.contactsBar .contacts .contact#opened h2{
    color: #DDD;
}
.chat{
    width: 100%;
    height: calc(100% - 62px);
    overflow-x:hidden;
    overflow-y:scroll;
    transform-origin: top left;
    padding: 20px 0 0 0;
}
.chat button.showMore{
    font-size: 1.5em;
    padding: 14px;
    margin: auto;
    width: 60%;
    margin: 10px auto;
    display: block;
    border: none;
    color: #DDD;
    cursor: pointer;
}
.chat button.showMore:hover{
    background: #DDD8;
    color: rgb(37, 98, 63);
}
.chat::-webkit-scrollbar {
    background-color: rgba(37, 98, 63,0);
    width: 10px;
}
.chat::-webkit-scrollbar-thumb {
    background-color: rgba(37, 98, 63,0);
}
.chat:hover::-webkit-scrollbar-thumb {
    background-color: #DDD;
}
.chat div{
    width: 100%;
    padding: 5px 100px;
    overflow: hidden;
}
.chat div p{
    display: block;
    padding:13px 36px;
    position: relative;
    max-width: 57%;
}
.chat div.send p{
    float: right;
    background-color: #DDD;
    color: rgba(37, 98, 63,1);
    margin: 0;
}
.chat div.send span{
    text-align: right;
}
.chat div span{
    width: 100%;
    display: inline-block;
    color: #DDD7;
    font-size: 1em;
}
.chat div span i{
    width: auto;
    font-size: 1em;
    padding: 2px 5px;
    opacity: 0.7;
}
.chat div.send span i{
    float: right;
}
.chat div p::after{
    position: absolute;
    background-color: inherit;
    width: 30px;
    height: 20px;
    content: "";
    z-index: 0;
    top: 0;
}
.chat div.send p::after{
    transform: skewX(-37deg);
    right: -16px;
}
.chat div.receive p{
    float: left;
    background-color: rgb(55, 132, 88);
    color: #DDD;
    margin: 0;
}
.chat div.receive span{
    text-align: left;
}
.chat div.receive span i{
    float: left;
}
.chat div.receive p::after{
    transform: skewX(37deg);
    left: -16px;
}
.messageInput{
    height: 62px;
    display: flex;
}
.messageInput input[name='message']{
    flex-basis: calc(100% - 70px);
    height: 62px;
    overflow-y: scroll;
    resize: none;
    color: rgba(37, 98, 63,1);
    border: none;
    min-height: unset;
    background: #FFF;
    font-size: 20px;
    padding: 0 20px;
}
.messageInput textarea::placeholder{
    color: #AAA;
}
.messageInput textarea::-webkit-scrollbar {
    background-color: rgba(37, 98, 63,0);
    width: 10px;
}
.messageInput textarea::-webkit-scrollbar-thumb {
    background-color: rgba(37, 98, 63,0);
}
.messageInput textarea:hover::-webkit-scrollbar-thumb {
    background-color: rgba(37, 98, 63,0.8);
}
.messageInput button{
    flex-grow: 1;
    background-color: rgba(37, 98, 63,1);
    height: 100%;
    border: 0px solid #FFF;
    cursor: pointer;
    flex-basis: 70px;
    color: #DDD;
    font-size: 22px;
 }
 .messageInput button:hover{
    background-color: #DDD;
    color: rgba(37, 98, 63,1);
 }
 .messageInput button:hover i{
    color: rgba(37, 98, 63,1);
 }
 .messageInput button i{
     width: auto;
     padding: 0;
 }
.innerBox img.fullArea{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    position: initial;
}
.inputImgHover{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    display: inline;
    background-color: rgba(37, 98, 63,0.7);
    cursor: pointer;
    top: 0;
}
.inputImgHover:hover{
    opacity: 1;
}
.inputImgHover span{
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    color: #FFF;
    width: 100%;
}
.inputContainer{
    position: relative;
    z-index: 10;
}
.rightBox .inputContainer{
    display: inline-block;
    width: 80%;
}
.inputContainer label{
    position: absolute;
    font-size: 100%;
    font-weight: 100;
    width: 100%;
    left: 0;
    top: 40%;
    opacity: 0.7;
    color: rgba(37, 98, 63,1);
    cursor: text;
}
.timeline,
.timelineHeader{
    width: 100%;
    overflow: hidden;
}
.timeline .flexBox,
.timelineHeader .flexBox{
    flex-wrap: initial;
}

.timeline div *,
.timelineHeader div * {
    margin: 5px 0.2%;
    padding: 5px 0.2%;
    display: inline-block;
    padding-left: 15px;
}
.timelineHeader div *{
    padding-left: 0;
}
.timeline input[type="date"],
.timelineHeader .date,
.timeline .date{
    /* flex-grow: 3.5; */
    flex-basis: 50%;
    text-align: left;
}
.timeline input[type="time"],
.timelineHeader .time,
.timeline .time{
    /* flex-grow: 1.5; */
    flex-basis: 25%;
    text-align: left;
}
h5.date:nth-of-type(even){
    background: brown;
}
.timelineHeader h5{
    background: none;

}
.timeline h4{
    background: #EEEE;
    color: rgb(37, 98, 63);
}
.timeline h4:nth-of-type(odd){
    background: #DDDD;
    color: rgb(37, 98, 63);
}
.timeline:nth-of-type(odd) h4{
    background: #EEEE;
    color: rgb(37, 98, 63);
}
.timeline:nth-of-type(odd) h4:nth-of-type(even){
    background: #DDDD;
    color: rgb(37, 98, 63);
}
.timeline span,
.timelineHeader span {
    display: inline-block;
    padding: 0;
    cursor: pointer;
    flex-basis: 5%;
}
.timeline span i,
.timelineHeader span i {    
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}
.rightBox .timeline span.delete,
.rightBox .timelineHeader span.delete{
    color: #e42121;
    background: none;
}
.rightBox .inputContainer label{
    font-size: 0.7em;
    top: 25%;
    padding-left: 15px;
    color: #DDD;
}
.rightBox .inputContainer.submitInput {
    width: 100%;
    margin: auto;
    text-align: center;
    display: block;
}
.inputContainer input,
.inputContainer select,
.inputContainer button,
.inputContainer textarea,
.inputContainer p[contenteditable]{
    padding-left: 15px;
    color: #DDD;
    width: 100%;

}
.light .inputContainer input,
.light .inputContainer select,
.light .inputContainer button{
    color: #DDD;
    background-color: rgba(37, 98, 63,0.7);
    border-color: rgb(37, 98, 63);
}
.inputContainer input:disabled{
    border: none;
    background-color: #FFF0;
}
.inputContainer select{
    font-size: 0.7em;
    height: 2.6em;
}
.inputContainer select option{
    color: rgb(37, 98, 63);
}
.inputContainer label.focused{
    transform: scale(0);
    opacity: 0;
}
input,
select,
button,
textarea{
    color: rgba(37, 98, 63,1);
    background-color: #DDD4;
    border: none;
    border-bottom: 4px solid #DDD;
    padding: 5px;
    font-size: 1em;
    resize: horizontal;
    z-index: 10;
}
[contenteditable='true']{
    cursor: text;
}
textarea{
    resize: vertical;
    min-height: 150px;
}
*:focus{
    outline: none;
}
.leftBox input{
    margin-top: 10px;
    border-bottom: 4px solid rgba(37, 98, 63,1);
    background-color: rgba(37, 98, 63,0.1);
    color: rgb(37, 98, 63);
    width: 80%;
    font-size: 1.5em;
}
.leftBox h1[contenteditable='true'],
.light .rightBox p[contenteditable='true']{
    border-bottom: 4px solid rgba(37, 98, 63,1);
    background-color: rgba(37, 98, 63,0.1);
    position: relative;
}
.rightBox p[contenteditable='true'],
.light .leftBox h1[contenteditable='true']{
    border-bottom: 4px solid #DDD;
    background-color: #DDD2;
}
[placeholder]::before{
    content: attr(placeholder);
    opacity: 0;
    transform: scale(0);
    display: none;
}
.light [placeholder][name='name']::before,
.dark [placeholder][name='description']::before{
    color: #DDDD;
}
.dark [placeholder][name='name']::before,
.light [placeholder][name='description']::before{
    color: rgba(37, 98, 63, 0.7);
}
[placeholder]:empty::before{
    opacity: 1;
    transform: scale(1);
    display: initial;
}

.rightBox input[type='submit'],
.inputContainer button{
    text-align: center;
    padding: 10px 20px;
    width: auto;
    margin: auto;
    margin-right: 1px;
    margin-top: 5%;
    background-color: #DDD8;
    cursor: pointer;
    color: rgb(37, 98, 63);
}
.inputContainer.between button{
    margin: 0 0 20px 0;
}
input[type='submit']:hover,
button:hover{
    background-color: #DDD;
    border-color: rgb(37, 98, 63);
}
.light input[type='submit']:hover,
.light button:hover{
    background-color: rgb(37, 98, 63);
    border-color: #DDD;
}
.inputContainer.Button{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.inputContainer.name{
    padding: 0 10%;
    display: flex;
}
.inputContainer.name input:nth-of-type(1){
    flex-grow: 1;
    margin-right: 5px;
    width: 40%;
}
.inputContainer.name input:nth-of-type(2){
    flex-grow: 10;
    width: 60%;
}
.inputContainer.name label:nth-of-type(1){
    width: auto;
    left: 13%;
}
.inputContainer.name label:nth-of-type(2){
    width: auto;
    left: 46%;
}
.inputContainer.name input[name='title']{
    flex-grow: 1;
    margin-right: 5px;
    flex-basis: 20%;
}
.inputContainer.name input[name='first_name'].withTitle{
    flex-grow: 1;
    margin-right: 5px;
    flex-basis: 40%;
}
.inputContainer.name input[name='last_name'].withTitle{
    flex-grow: 10;
    flex-basis: 60%;
}
.inputContainer.name label[for='title']{
    width: auto;
    left: 13%;
}
.inputContainer.name label[for='first_name'].withTitle{
    width: auto;
    left: 27%;
}
.inputContainer.name label[for='last_name'].withTitle{
    width: auto;
    left: 54%; /* 54 */
}
.innerBox.members{
    background-color: #0002;
    padding: 3%;
    z-index: 11;
    padding-top: 50px;
    overflow: unset;
}
.flexBox .flexChild{
    flex-basis: calc(25% - 4px);
    width: calc(25% - 4px);
    background: #DDDD;
    height: 120px;
    margin: 2px;
    display: table;
    cursor: pointer;
    color: rgb(37, 98, 63);
    position: relative;
}
.flexBox .flexChild.toDelete{
    background: #a00000;
    color: #DDD;
}
.flexBox .flexChild.toDelete:hover{
    background: #b10000;
}
.flexBox .flexChild:hover{
    background: rgb(255, 255, 255);
}
.flexBox .flexChild img{
    width: 120px;
    height: 120px;
    display: block;
    object-fit: cover;
}
.flexBox .flexChild h3{
    text-align: center;
}
.flexBox .flexChild h3 span{
    font-weight: 100;
    font-size: 0.9em;
}
.flexBox .flexChild h3 span i{
    margin-right: 10px;
}
/* .innerBox.members */.flexBox{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center/*space-between*/;
    flex-direction: row;
}
 .flexBox a.eventWorkshopPanel{
         flex-basis: calc(50% - 4px);
         margin-bottom: 2px;
         cursor: pointer;
         height: 450px;
 }
.members .member{
    flex-basis: calc(33.333% - 4px);
    width: calc(33.333% - 4px);
    background: #DDD8;
    height: 80px;
    margin: 2px;
    display: table;
    cursor: pointer;
    color: rgb(37, 98, 63);
    position: relative;
    order: 2;
}
.members .member.freeMember{
    width:auto;
}
.members:visible{
    display: flex;
}
.members .member:not(.addMember):hover{
    background-color: #DDD;
}
.members .member h3{
    text-align: center;
}
.members .member.head{
    order: 1;
}
.members .member.head span.headButton{
    color: gold;
    opacity: 1;
}
.members .member span.headButton{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    padding: 5px;
    line-height: 100%;
    opacity: 0.3;
    z-index: 50;
}
.members .member span.removeButton{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 20px;
    padding: 5px;
    line-height: 100%;
    opacity: 0.15;
    z-index: 50;
    color: rgba(208, 5, 5, 1);
}
.members .member span:hover{
    opacity: 1;
}
.members .member img{
    width: 80px;
    height: 80px;
    display: block;
    object-fit: cover;
}
.light .members .member{
    background: rgba(37, 98, 63,0.7);
    color: #DDD;
}
.light .members .member:not(.addMember):hover{
    background: rgba(37, 98, 63,1);
}
.light .members .member h3{
}
.members .member .inputContainer{
    backface-visibility: hidden;
}
.chooseMember.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(37, 98, 63);
    transition: none;
    display: none;
}
.light .dropdown{
    background-color: #DDD;
}
.haveSlide::after {
    content: "";
    width: 50px;
    height: 50px;
    background-color: #DDD;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
    z-index: 10;
}
div[committee] .members::after {
    content: "";
    width: 50px;
    height: 50px;
    background-color: #DDD;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
    z-index: 10;
}
.light .members::after{
    background-color: rgb(37, 98, 63);
}
.light .haveSlide::after{
    background-color: rgb(37, 98, 63);
}
button.add{
    width: 100%;
    padding: 5px 0;
    margin: 0;
    font-size: 3em;
}
button.addMember {
    width: 100%;
    height: 100%;
    font-size: 3em;
    margin: 0;
    padding: 0;
}
button.delete,
.rightBox .inputContainer /*input*/.delete{
    background-color: rgba(208, 5, 5, 0.617);
    color: #FFF;
}
.light button.delete{
    background-color: rgba(177, 0, 0, 0.617);
    color: #FFF;
}
button.delete:hover,
.light button.delete:hover{
    background-color: #ff0000bf;
}
.member.addMember div.inputContainer{
    height: 100%;
}
button.dark{
    background-color: rgb(37, 98, 63);
    color: #DDD;
}
button.light{
    background-color: #DDD;
    color: rgb(37, 98, 63);
}
/* Footer */
footer{
    height: 400px;
    width: 100%;
    /* background-image: url(../green.png); */
    background-color: rgba(37, 98, 63,1);
    border-top: 5px solid #FFF;
}
footer #contactus{
    height: 85%;
    width: 100%;
}
footer #copyright{
    height: 15%;
    width: 100%;
    background-color: rgba(0, 0, 0,0.46);
}

/* login pop up */

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: translateY(-50%) translateX(-50%) scale(0)
    }
    to {
        -webkit-transform: translateY(-50%) translateX(-50%) scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: translateY(-50%) translateX(-50%) scale(0)
    }
    to {
        transform: translateY(-50%) translateX(-50%) scale(1)
    }
}

@-webkit-keyframes animatezoomout {
    from {
        -webkit-transform: translateY(-50%) translateX(-50%) scale(1)
    }
    to {
        -webkit-transform: translateY(-50%) translateX(-50%) scale(0)
    }
}

@keyframes animatezoomout {
    from {
        transform: translateY(-50%) translateX(-50%) scale(1)
    }
    to {
        transform: translateY(-50%) translateX(-50%) scale(0)
    }
}
#backLoginWindow {
    display: none;
    text-align: left;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    position: fixed;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

#loginForm:not(.windowHeight) {
    display: table;
    height: 50%;
    min-height: 400px;
    width: 40%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: rgba(37, 98, 63, 1);
   background: url(/images/temp/green.png);
}
#loginForm svg{
    fill: #DDD2;
    position: absolute;
    height: 100%;
    width: 100%;
}
#loginForm .tableCell input{
    color: #DDD;
    background-color: #DDD7;
    border: none;
    border-bottom: 4px solid #DDD;
    padding: 5px 20px;
    font-size: 1em;
    resize: horizontal;
    z-index: 10;
}
#loginForm.on {
    animation: animatezoom 0.5s;
}

#loginForm.out {
    animation: animatezoomout 0.5s;
}

#loginForm:not(.windowHeight) .tableCell *{
    font-size: 20px;
    color: #DDD;
}
#loginForm.windowHeight .tableCell span.checkmark,
#loginForm.windowHeight .tableCell label#remembermeDiv,
#loginForm.windowHeight .tableCell #forgotPassword {
    font-size: 20px;
    color: #DDD;
}
#loginForm.windowHeight .tableCell #forgotPassword i{
    font-size: 2em;
    width: 45px;
}
#loginForm .tableCell .inputContainer{
    margin: 15px auto;
    width: 60%;
}
#loginForm .tableCell{
    width: 100%;
    height: 100%;
    text-align: center;
}

#loginForm .tableCell label{
    text-align: left;
}
#loginForm:not(.windowHeight) .tableCell label{
    left: 0;
    padding: 5px 20px;
    top: 0; 
}
#loginForm .tableCell input[name="login"] {
    width: auto;
    padding: 10px 20px;
    cursor: pointer;
    margin: auto;
}
#loginForm .tableCell input[name="login"]:hover {
    background-color: #DDD;
    border-color: rgb(37, 98, 63);
    color: rgb(37, 98, 63);
}
#loginForm .tableCell span.checkmark{
    position: relative;
    height: 27px;
    padding-left: 27px;
    background-color: #eee;
    border: 1px solid rgb(100, 100, 100);
    margin: 6px;
    cursor: pointer;
}
#loginForm .tableCell span.checkmark:after{
    left: 9px;
    top: 5px;
    width: 5px;
    height: 12px;
    border: solid rgb(37, 98, 63);
    border-width: 0 3px 3px 0;
    content: "";
    position: absolute;
    opacity: 0;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}
#loginForm .tableCell .inputContainer:hover input ~ span.checkmark {
    background-color: #ccc;
}
#loginForm .tableCell input:checked ~ span.checkmark {
    /* background-color: #053b6b; */
}
#loginForm .tableCell input:checked ~ span.checkmark:after {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
}
#loginForm .tableCell label#remembermeDiv{
    position: initial;
    cursor: pointer;
    padding-left: 0;
    text-align: left;
}
#loginForm .tableCell #forgotPassword{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 10px 10px;
    word-wrap: break-word;
    text-align: left;
    overflow: hidden;
    width: 100%;
}
#loginForm .tableCell #forgotPassword *{
    display: inline-block;
    float: left;
}
#loginForm .tableCell #forgotPassword i{
    font-size: 1.5em;
    padding-right: 10px;
    width: 37px;
}
#loginForm .tableCell #forgotPassword span{
    width: 0;
    text-decoration: underline;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    transform: translateY(14%);
    cursor: pointer;
}
#loginForm .tableCell #forgotPassword:hover span{
    width: 180px;
    width: 80%;
}
.eventWorkshopPanel {
    display: flex;
    float: left;
    width: 50%;
    height: 450px;
}

.eventWorkshopPanel .innerBox {
    background-size: cover;
    height: 100%;
    padding: 0;
}

.eventWorkshopInfo {
    display: table;
    table-layout: fixed;
    width: 75%;
    position: relative;
    border-collapse: collapse;
    width: 76%;
    margin: auto;
    font-size: larger;
    float: left;
    margin-right: 1%;
    margin-left: 12%;
}

.eventWorkshopPanel :hover{
    background: rgb(20, 49, 33);
}
td>i {
    padding: 0 20px;
    width: 50px;
}
.eventWorkshopInfo td:nth-of-type(1) {
    padding-left: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.eventWorkshopInfo td:nth-of-type(2) {
    padding-left: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 85%;
    word-break: break-all;
    padding-right: 20px;
}

.eventWorkshopInfo tr {
    border-bottom: 4px solid #DDD;
    border-top: 4px solid #DDD;
    width: inherit;
}
.eventWorkshopInfo .panelContainer{
    height: 500px;
}
.eventWorkshopInfo .gallery{
}
.eventWorkshopInfo .gallery>img{
    flex-basis: 0;
    display: block;
    object-fit: cover;
    margin-left: 2px;
    margin-right: 2px;
    flex-grow: 1;
    min-width: 0;
    height: 80px;
}
.eventWorkshopInfo .gallery.edit .photo,
.eventWorkshopInfo .gallery.create .photo{
    flex-basis: calc(20% - 4px);
    display: block;
    object-fit: cover;
    margin:2px;
    min-width: 0;
    position: relative;
    height: 150px;
}
.photo .inputImgHover{
    border-radius: 0;
    text-align: center
}
.eventWorkshopInfo .gallery.edit .photo img,
.eventWorkshopInfo .gallery.create .photo img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.gallery.edit .photo span.removeButton,
.gallery.edit .photo span.makeCover,
.gallery.create .photo span.removeButton,
.gallery.create .photo span.makeCover{
    position: absolute;
    right: 0;
    top: 0;
    bottom: initial;
    font-size: 20px;
    padding: 5px;
    line-height: 100%;
    opacity: 0.5;
    z-index: 50;
    color: rgba(208, 5, 5, 1);
    cursor: pointer;
    text-shadow: 1px 1px 5px #DDD;
}
.gallery.edit .photo span.makeCover,
.gallery.create .photo span.makeCover{
    color: rgba(255, 255, 255, 1);    
    right: initial;
    left: 0;
    top: 0;
    bottom: initial;
    text-shadow: 1px 1px 5px #000;
}
.gallery.edit .photo.cover span.makeCover,
.gallery.create .photo.cover span.makeCover{
    color: rgb(255, 255, 0);
    opacity: 1;
}
.gallery.edit .photo span.removeButton:hover,
.gallery.edit .photo span.makeCover:hover,
.gallery.create .photo span.removeButton:hover,
.gallery.create .photo span.makeCover:hover{
    opacity: 1;
}
.light .eventWorkshopInfo td:nth-of-type(1) {
    padding-left: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.light .eventWorkshopInfo td:nth-of-type(2) {
    padding-left: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.light .eventWorkshopInfo tr {
    border-bottom: 4px solid #25623f;
    border-top: 4px solid #25623f;
}

/*Workshop Timeline Popup*/

.popUpWindow,
.popUpWindowSponsor {
    height: 100%;
    top: 80px;
    display: none;
    text-align: left;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    position: fixed;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}
.popUpWindow .search,
.popUpWindowSponsor .sponsorSearch {
    display: table;
    height: 50%;
    min-height: 400px;
    width: 40%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: rgba(37, 98, 63, 1);
   background: url(/images/temp/green.png);
}
.popUpWindow .search svg,
.popUpWindowSponsor .sponsorSearch svg{
    fill: #DDD2;
    position: absolute;
    height: 100%;
    width: 100%;
}
.popUpWindow .search input,
.popUpWindowSponsor .sponsorSearch input{
    color: #DDD;
    background-color: #DDD7;
    border: none;
    border-bottom: 4px solid #DDD;
    padding: 5px 20px;
    font-size: 1em;
    resize: horizontal;
    z-index: 10;
}
.popUpWindow .search input::placeholder,
.popUpWindowSponsor .sponsorSearch input::placeholder{
    color: #DDD;
}
.popUpWindow .search.on,
.popUpWindowSponsor .sponsorSearch.on {
    animation: animatezoom 0.5s;
}

.popUpWindow .search.out,
.popUpWindowSponsor .sponsorSearch.out {
    animation: animatezoomout 0.5s;
}
.popUpWindow .search .tableCell,
.popUpWindowSponsor .sponsorSearch .tableCell{
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
.popUpWindow .search>.inputContainer,
.popUpWindowSponsor .sponsorSearch>.inputContainer{
    margin: 15px auto;
    width: calc(100% - 30px);
}

.speakers .member,
.modirators .member{
    height: 90px;
}
.speakers .member img,
.modirators .member img{
    height: 90px;
    width: 90px;
}

.sponsors{
    width: 8%;
    min-height: 800px;
    float: right;
    margin-right: 3%;
}
.sponsors .member:not(.addSponsor){
    width: 100%;
    padding-top: 100%;
    position: relative;
    margin: 10px 0;
    display: block;
    background: none;
}
.sponsors .member:not(.addSponsor):hover {
    background-color: #DDD;
}
.sponsors .member span.removeButton {
    position: absolute;
    font-size: 20px;
    padding: 5px;
    line-height: 100%;
    opacity: 0.4;
    z-index: 50;
    color: rgb(255, 0, 0);    
    left: 98%;
    bottom: 76%;
}
.sponsors .member span.removeButton:hover{
    opacity: 1;
}
.sponsors .member:not(.addSponsor) img{
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: initial;
}

.Table {
    width: 100%;
    margin: 20px auto;
}

.Table .TableRow,
.Table .TableHeader{
    display: flex;
    width: 100%;
}
.Table .TableRow:nth-of-type(odd),
.Table .TabelHeader {
    background: #25623f;
    color: #DDD;
}
.Table .TableRow:nth-of-type(even) {
    background: #DDD;
    color: #25623f;
}
.Table .TableRow:nth-of-type(odd):hover {
    background-color: #18412a;
}
.Table .TableRow:nth-of-type(even):hover {
    background-color:rgb(150, 150, 150);
}

.Table .TableHeader {
    background: #DDD;
    color: #25623f;
}

.Table .TableRow:nth-of-type(odd) .TableColumn,
.Table .TableHeader  .TableColumn{
    border-right: 0.5px solid #DDD3;
    border-left: 0.5px solid #DDD3;
}
.Table .TableRow:nth-of-type(even) .TableColumn{
    border-right: 0.5px solid #25623f44;
    border-left: 0.5px solid #25623f44;
}
.Table .TableHeader .TableColumn{
    border-right: 0.5px solid #25623f44;
    border-left: 0.5px solid #25623f44;
}
.Table .TableRow .TableColumn,
.Table .TableHeader .TableColumn {
    display: inline-block;
    flex-basis: 25%;
    flex-grow: 1;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: larger;
}
.Table .TableRow .seen-answered{
    flex-basis: 0;
    padding-left: 6.5px;
    padding-right: 6.5px;
    flex-grow: 0;
    color:transparent;
}
.Table .TableHeader .seen-answered{
    flex-basis: 0;
    padding-left: 6.5px;
    padding-right: 6.5px;
    flex-grow: 0;
}

.Table .TableRow .TableColumn:nth-of-type(1),
.Table div.TableRow .TableColumn:nth-of-type(1){
    border-left: 1px solid #DDD3;
}
.Table .TableRow .TableColumn:last-of-type,
.Table div.TableRow .TableColumn:last-of-type{
    border-right: 1px solid #DDD3;
}

.Table.on {
    animation: animatezoom 0.6s;
}

.Table.out {
    animation: animatezoomout 0.6s;
}

/*Event Gallery*/
.eventGallery{
    position: relative;
    width: 75%;
    margin:auto;
    margin-top: 50px;
}
.eventGalleryImage {
    display: inline-block;
    width: 32%;
    margin:4px 8px;
}
.eventGalleryImage img{
    width:100%;
    object-fit: cover;
}

.eventGalleryImage img:hover{
    background-color: rgba(32, 221, 25, 0.795);
}

.popUpWindow .eventGalleryImage:hover{
    background: none;
}

/* Request */
a.messageControll {
    flex-basis: calc(50%);
    height: auto;
    width: auto;
    text-align: center;
    padding: 5px 20px;
    font-size: 1.8em;
    position: relative;
    color: #DDD8;
    font-weight: bolder;
}
a.messageControll:hover{
    background: #DDD1;
}
a.messageControll::before{
    content: attr(content);
    color: #DDD;
    clip-path: inset(100% 0 0 0);
    position: absolute;
    padding: 5px 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
}
a.messageControll#activeSection {
    color: #DDD;
    border-bottom: 2px solid #DDD5;
}
a.messageControll:not(#activeSection):hover::before {
    clip-path: inset(0 0 0 0);
    transition: all 0.6s ease-out;
}
.contact.unseen {
    position: relative;
}

.unseen::after {
    content: "";
    background: #00af48;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 8%;
    border-radius: 50%;
}
a.request-task {
    width: 100%;
}
.popUpWindow  .confirmationPopup {
    width: 0%;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    position: relative;
    margin: auto;
    height: 250px;
    background: #DDD;
    transform: translateY(-50%);
    top: 50%;
    transition: none;
}

.popUpWindow .confirmationPopup form {
    width: 45px;
    height: 45px;
}

.popUpWindow .confirmationPopup h1 {
    color: #24603d;
    background: #cecece;
    padding: 15px;
    margin-bottom: 32px;
    padding-left: 18px;
}

.popUpWindow .confirmationPopup p{
    color: #24603d;
    margin-bottom: 15px;
    padding-left: 60px;
    font-size: 2em;
    text-align: left;
    margin-bottom: 20px;
}
.popUpWindow .confirmationPopup .confirmYes {
    color: #DDD;
    width: 120px;
    font-weight: bold;
    position: absolute;
    right: 22%;
}
.popUpWindow .confirmationPopup .confirmCancel {
    background: #24603d;
    width: 120px;
    color: #DDD;
    font-weight: bold;
    position: absolute;
    right: 8%;
}