/* Configration */
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
}
html{
    height: 100%;
    overflow-y: scroll;
}
body{
    background-color: #0d311d;
    background-image: url(../background.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    display: block;
}
body::-webkit-scrollbar {
    background-color: #DDD;
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(20, 49, 33);
}
div.darkBackground{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: inherit;
}
div.container{
    z-index: 1;
    width: 82%;
    /* background-color:rgba(37, 98, 63,0.46); */
    margin: 0 auto 0 auto;
    display: block;
    transition: none;
    overflow: hidden;
}
/* public styling */
div.logo{
    overflow: hidden;
}
div.logo svg{
    height: 100%;
    fill: rgb(37, 98, 63)/*#21884f*//*#0d311d*/;
}
hr.green{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(37, 98, 63,1);
    padding: 0; 
    width: 80%;
    margin: 10px auto;

}
/* Header */
.headerVideoContainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.headerVideo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.headerVideoContainer #toContent{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    height: 120px;
    cursor: pointer;
}
@keyframes tocontent{
    0%{
        transform: translateY(-10px);
        opacity: 0.5;
    }
    50%{
        transform: translateY(0px);
        opacity: 0.8;
    }
    60%{
        transform: translateY(-2px);
        opacity: 0.9;
    }
    70%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(-10px);
        opacity: 0.5;
    }
}
.headerVideoContainer #toContent:hover i{
    animation: none;
    opacity: 1;
}
.headerVideoContainer #toContent i{
    opacity: 0.8;
    line-height: 120px;
    font-size: 120px;
    font-weight: bolder;
    text-shadow: 0px -4px 2px #FFF;
    color: #11c15c;
    animation: tocontent 2s ease infinite;
}
.headerVideoContainer .text{
    position: absolute;
    left: 10%;
    bottom: 10%;
    text-shadow: 4px 4px 20px #000, -4px -4px 20px #000;
}
.headerVideoContainer .text h1{
    padding: 20px;
    padding-bottom: 5px;
    color: #FFF;
}
.headerVideoContainer .text p{
    padding: 20px;
    padding-top: 5px;
    color: #DDD;
}
#navContainer{
    height: 80px;
    width: 100%;
    background-color: #FFF;
    z-index: 1000;
}
div#navContainer.fixedNav{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.95;
}
div#navContainer + div,
div#navContainer + form{
    transition: none;
}
div#navContainer.fixedNav + div,
div#navContainer.fixedNav + form{
    margin-top: 80px;
}
nav#mainNav{
    transition-property: width,margin;
    margin-top: 0px;
    width: 80%;
    height: 80px;
    background-color: #FFF;
    display: block;
    margin-left: 10%;
}
div#navContainer.fixedNav nav#mainNav{
    margin: 0;
    width: 100%;
}
#mainNav *{
    height: 100%;
    display: inline-block;
}
#mainNav div#user{
    float: right;
    position: relative;
    width: 14%;
    display: block;
    text-align: center;
}
#mainNav div#user img{
    border: 3px solid rgb(37, 98, 63);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin: 5px;
}
#mainNav div#user ul{
    position: absolute;
    width: 100%;
    top: 100%;
    list-style: none;
    display: block;
    right: 0;
    z-index: 50;
    overflow: hidden;
    transition: none;
    height: auto;
    left: 0;
}
#mainNav div#user ul li{
    display: inline-block;
    padding: 20px;
    width: 100%;
    height: auto;
    line-height: 100%;
}
#mainNav div#user ul li:hover{
    transform: none;
    background-color: #DDD;
}
#mainNav div.logo{
    padding-left: 5%;
    float: left;
    background-color: #FFF;
    position: relative;
}
#mainNav div.logo a{
    position: relative
}
#mainNav ul{
    width: 30%;
    list-style: none;
    display: flex;
    float: right;
    margin-right: 6%;
    height: 99%;
}
#mainNav ul:hover{
}
#mainNav ul li{
    display: inline-block;
    flex-grow: 1;
    text-align: center;
    line-height: 80px;
    color: rgb(37, 98, 63);
    font-size: 1.15em;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
}
#mainNav ul li:hover{
    flex-grow: 2;
    /* color: #FFF; */
    /* background-color: rgba(37, 98, 63,0.8); */
    transform: scaleZ(1.5);
    border-bottom: 5px solid rgba(37, 98, 63,0.5);
}
#mainNav ul li#active{
    flex-grow: 2;
    /* color: #FFF; */
    /* background-color: rgb(37, 98, 63); */
    border-bottom: 5px solid rgb(37, 98, 63);
}
#mainNav div.padding{
    height: 100%;
    width: 10%;
    float: right;
    background-color: #FFF;
}
#menuButton{
    position: relative;
    right: 0;
    top: 0;
    height: 100%;
    width: 80px;
    margin-right: 10px;
    float: right;
    cursor: pointer;
    display: none;
}
#menuButton:hover{
    background-color: rgba(37, 98, 63,1);
}
#menuButton:hover span{
    background-color: #FFF;
}
#menuButton span{
    position: absolute;
    display: block;
    height: 6px;
    width: 70%;
    left: 15%;
    border-radius: 20px;
    background-color: rgba(37, 98, 63,1);
}
#menuButton[case='closed'] span:nth-of-type(1){
    top: 30%;
}
#menuButton[case='closed'] span:nth-of-type(2){
    top: 45%;
}
#menuButton[case='closed'] span:nth-of-type(3){
    top: 60%;
}
#menuButton[case='opened']{
    background-color: rgba(37, 98, 63,1);
}
#menuButton[case='opened'] span{
    height: 10px;
}
#menuButton[case='opened'] span:nth-of-type(1){
    top: 45%;
    transform: rotateZ(45deg);
    background-color: #FFF;
}
#menuButton[case='opened'] span:nth-of-type(2){
    top: 45%;
    opacity: 0;
}
#menuButton[case='opened'] span:nth-of-type(3){
    top: 45%;
    transform: rotateZ(-45deg);
    background-color: #FFF;
}
.panelContainer{
    height: 800px;
    width: 100%;
    transition: none;
}
/* Content */
.slide{
    padding: 1%;
    overflow: hidden;
    display: flex;
    width: 100%;
}
.slide.dark{
    background: url(../green.png);
}
.slide.dark .text{
    margin-top: 10%;
    margin-left: 4%;
    float: left;
}
.slide.dark .text h1{
    color: #FFF;
}
.slide.dark .text p{
    color: #DDD;
    padding-top: 3%;
    padding-left: 10%;
}
.slide.light{
    background: #DDD;
}
.slide.light .text{
    margin-top: 10%;
    margin-right: 4%;
    float: right;
}
.slide.light .text h1{
    color: rgba(37, 98, 63,1);
}
.slide.light .text p{
    color: rgba(37, 98, 63,0.7);
    padding-top: 3%;
    padding-left: 10%;
}
.slide .panelContainer{
    width: 65%;
    display: inline-block;
    height: 500px;
    margin: 4% 0;
}
.slide.dark .panelContainer{
    float: right;
}
.slide.light .panelContainer{
    float: left;
}
.slide .text{
    vertical-align: top;
    position: static;
    display: inline-block;
}
.outerBox{
    overflow: hidden;
    padding: 40px;
    opacity: 0;
    display: flex;
    position: relative;
}
.fullHeight{
    height: 100%;
}
.innerBox{
    /* height: 100%; */
    width: 100%;
    display: flex;
}
.outerBox.dark{
    background-color: rgb(37, 98, 63);
}
.outerBox.light{
    background-color: #DDD;
}
.leftBox{
    width:30%;
    height: 100%;
    text-align: center;
    background-color: #DDD;
    display: table;
    flex-grow: 10;
}
.outerBox .tableCell{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}
.light .innerBox{
    flex-direction: row-reverse;
}
.light .leftBox{
    background-color: rgb(37, 98, 63);
}
.light .leftBox h1{
    color: #DDD;
}
.square{
  position: relative;
  width: 50%;
}
.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
.leftBox img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 7px solid rgba(37, 98, 63,1);
    object-fit: cover;
    margin: auto;
}
.leftBox h1{
    margin-top: 10px;
    color: rgba(37, 98, 63,1);
}
.rightBox{
    height: 100%;
    width: 70%;
    background-color: rgba(37, 98, 63,1);
    color:#FFF;
    display: table;
    overflow: hidden;
    position: relative;
    background: url(../green.png);
    flex-grow: 10;
}
.dark .rightBox,
.light .rightBox{
    background: none;
    overflow: initial;
}
.rightBox h1{
    text-align: center;
    font-size: 3em;
    margin-top: 2%;
    margin-bottom: 3%;
}
.light .rightBox{
    color: rgb(37, 98, 63);
}
.rightBox p{
    font-size: 1.1em;    
    padding: 5px;
    margin: 0 10%;
}
.rightBox h2{
    padding: 5px;
    font-weight: 100;
    margin: 0 10%;
    display: table;
    width: 100%;
}
.rightBox i{
    color:#DDD;
    font-size: 1.5em;
    width: 150px;
    text-align: center; 
    display: table-cell;
    vertical-align: middle;
}
.rightBox .rightBoxBackground{
    width: auto;
    transform: translateX(-20px) rotateZ(-10deg) scale(1.8) translateY(20%);
    opacity: 0.2;
    position: absolute;
    right: 0;
}
.rightBox .rightBoxBackground svg{
    fill:#FFF;
    width: 100%;
}
.light .rightBox .rightBoxBackground{
    transform: translateX(20px) rotateZ(10deg) scaleX(-1.8) scaleY(1.8) translateY(100px);
    left: 0;
    right: auto;
    z-index: 0;
}
.light .rightBox .rightBoxBackground svg{
    fill: rgb(37, 98, 63);
}
.downArrow{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    height: 120px;
    cursor: pointer;
    z-index: 50;
    left: 0;
}
.upArrow{
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;    
    height: 120px;
    cursor: pointer;
    z-index: 50;
    left: 0;
}
.downArrow:hover,
.upArrow:hover{
    
}
.downArrow:hover i,
.upArrow:hover i{
    animation: none;
    opacity: 1;
}
.downArrow i,
.upArrow i{
    opacity: 0.8;
    line-height: 80px;
    font-size: 80px;
    font-weight: bolder;
    text-shadow: 0px -4px 2px #FFF;
    color: #11c15c;
    animation: tocontent 2s ease infinite;
}
.contactsBar{
    height: 100%;
    width: 20%;
    overflow: hidden;
    flex-grow: 5;
    display: flex;
    flex-flow: column;
}
.contactsBar input{
    padding: 10px 20px;
    width: 90%;
    margin: auto;
    margin-top: 4%;
}
.contactsBar input::placeholder{
    color: #CCC;
}
.contactsBar .contacts{
    direction:rtl;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
}
.contactsBar .contacts *{
    direction: ltr;
}
.contactsBar .contacts::-webkit-scrollbar {
    background-color: rgba(37, 98, 63,0);
    width: 10px;
}
.contactsBar .contacts::-webkit-scrollbar-thumb {
    background-color: rgba(37, 98, 63,0);
}
.contactsBar:hover .contacts::-webkit-scrollbar-thumb {
    background-color: rgba(37, 98, 63,0.8);
}
.contactsBar .contacts .contact{
    padding: 2%;
    padding-left: 10%;
    height: 10%; 
    text-align:left; 
    display:table;
    width:100%;
    background-color: #DDD;
    cursor: pointer;
}
.contactsBar .contacts .contact:hover{
    background-color: rgba(37, 98, 63,0.7);
}
.contactsBar .contacts .contact:hover h2{
    color: #DDD;
}
.contactsBar .contacts .contact#opened{
    background: url(../green.png);
}
.contactsBar .contacts .contact img{
    float: left;
    width: 70px;
    height: 70px;
    border: 4px solid rgba(37, 98, 63,1);
    position: initial;
}
.contactsBar .contacts .contact h2{
    padding-left: 8%;
    display:table-cell; 
    vertical-align:middle;
    color: rgba(37, 98, 63,1);
}
.contactsBar .contacts .contact#opened img{
    border-color: #DDD;
}
.contactsBar .contacts .contact#opened h2{
    color: #DDD;
}
.chat{
    width: 100%;
    height: 92%;
    overflow-x:hidden;
    overflow-y:scroll;
    transform-origin: top left;
}
.chat::-webkit-scrollbar {
    background-color: rgba(37, 98, 63,0);
    width: 10px;
}
.chat::-webkit-scrollbar-thumb {
    background-color: rgba(37, 98, 63,0);
}
.chat:hover::-webkit-scrollbar-thumb {
    background-color: #DDD;
}
.chat div{
    width: 100%;
    padding: 5px 100px;
    overflow: hidden;
}
.chat div p{
    display: block;
    padding:13px 36px;
    position: relative;
    max-width: 57%;
}
.chat div.send p{
    float: right;
    background-color: #DDD;
    color: rgba(37, 98, 63,1);
    margin: 0;
}
.chat div.send span{
    text-align: right;
}
.chat div span{
    width: 100%;
    display: inline-block;
    color: #DDD4;
    font-size: 1em;
}
.chat div span i{
    width: auto;
    font-size: 1em;
    padding: 2px 5px;
    opacity: 0.7;
}
.chat div.send span i{
    float: right;
}
.chat div p::after{
    position: absolute;
    background-color: inherit;
    width: 30px;
    height: 20px;
    content: "";
    z-index: 0;
    top: 0;
}
.chat div.send p::after{
    transform: skewX(-37deg);
    right: -16px;
}
.chat div.receive p{
    float: left;
    background-color: rgb(55, 132, 88);
    color: #DDD;
    margin: 0;
}
.chat div.receive span{
    text-align: left;
}
.chat div.receive span i{
    float: left;
}
.chat div.receive p::after{
    transform: skewX(37deg);
    left: -16px;
}
.messageInput{
    height: 8%;
    display: flex;
}
.messageInput textarea{
    flex-grow: 15;
    padding: 20px 30px;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    resize: none;
    color: rgba(37, 98, 63,1);
    padding-top: 25px;
    border: none;
}
.messageInput textarea::placeholder{
    color: #AAA;
}
.messageInput textarea::-webkit-scrollbar {
    background-color: rgba(37, 98, 63,0);
    width: 10px;
}
.messageInput textarea::-webkit-scrollbar-thumb {
    background-color: rgba(37, 98, 63,0);
}
.messageInput textarea:hover::-webkit-scrollbar-thumb {
    background-color: rgba(37, 98, 63,0.8);
}
.messageInput button{
    flex-grow: 1;
    background-color: rgba(37, 98, 63,1);
    height: 100%;
    border: 0px solid #FFF;
    cursor: pointer;
 }
 .messageInput button:hover{
    background-color: #DDD;
    color: rgba(37, 98, 63,1);
 }
 .messageInput button:hover i{
    color: rgba(37, 98, 63,1);
 }
 .messageInput button i{
     width: auto;
     padding: 0;
 }
.innerBox img.fullArea{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    position: initial;
}
.inputImgHover{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    display: inline;
    background-color: rgba(37, 98, 63,0.7);
    cursor: pointer;
}
.inputImgHover:hover{
    opacity: 1;
}
.inputImgHover span{
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    color: #FFF;
}
.inputContainer{
    position: relative;
    z-index: 10;
}
.leftBox .inputContainer{
}
.rightBox .inputContainer{
    display: inline-block;
    width: 60%;
}
.inputContainer label{
    position: absolute;
    font-size: 100%;
    font-weight: 100;
    width: 100%;
    left: 0;
    top: 40%;
    opacity: 0.7;
    color: rgba(37, 98, 63,1);
    cursor: text;
}
.rightBox .inputContainer label{
    font-size: 0.7em;
    top: 25%;
    padding-left: 15px;
    color: #DDD;
}
.rightBox .inputContainer input,
.rightBox .inputContainer select,
.rightBox .inputContainer button{
    padding-left: 15px;
    color: #DDD;
    width: 100%;
}
.light .rightBox .inputContainer input,
.light .rightBox .inputContainer select,
.light .rightBox .inputContainer button{
    color: #DDD;
    background-color: rgba(37, 98, 63,0.7);
    border-color: rgb(37, 98, 63);
}
.rightBox .inputContainer select{
    font-size: 0.7em;
    height: 2.6em;
}
.rightBox .inputContainer select option{
    color: rgb(37, 98, 63);
}
.inputContainer label.focused{
    transform: scale(0);
    opacity: 0;
}
input,
select,
button{
    color: rgba(37, 98, 63,1);
    background-color: #DDD4;
    border: none;
    border-bottom: 4px solid #DDD;
    padding: 5px;
    font-size: 1em;
    resize: horizontal;
    z-index: 10;
}
input:focus,
select{
    outline: none;
}
.leftBox input{
    margin-top: 10px;
    text-align: center;
    border-bottom: 4px solid rgba(37, 98, 63,1);
    background-color: rgba(37, 98, 63,0.1);
    width: 80%;
    font-size: 1.5em;
}
.rightBox input[type='submit'],
.rightBox .inputContainer button{
    text-align: center;
    padding: 10px 20px;
    width: auto;
    margin: auto;
    margin-top: 5%;
    background-color: #DDD8;
    cursor: pointer;
    color: rgb(37, 98, 63);
}
.rightBox input[type='submit']:hover,
.rightBox button:hover{
    background-color: #DDD;
    border-color: rgb(37, 98, 63);
}
.light .rightBox input[type='submit']:hover,
.light .rightBox button:hover{
    background-color: rgb(37, 98, 63);
    border-color: #DDD;
}
.inputContainer.Button{
    width: 100%;
    margin: auto;
    text-align: center;
    display: block;
}

/* Footer */
footer{
    height: 400px;
    width: 100%;
    /* background-image: url(../green.png); */
    background-color: rgba(37, 98, 63,1);
    border-top: 5px solid #FFF;
}
footer #contactus{
    height: 85%;
    width: 100%;
}
footer #copyright{
    height: 15%;
    width: 100%;
    background-color: rgba(0, 0, 0,0.46);
}

/* login pop up */

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: translateY(-50%) translateX(-50%) scale(0)
    }
    to {
        -webkit-transform: translateY(-50%) translateX(-50%) scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: translateY(-50%) translateX(-50%) scale(0)
    }
    to {
        transform: translateY(-50%) translateX(-50%) scale(1)
    }
}

@-webkit-keyframes animatezoomout {
    from {
        -webkit-transform: translateY(-50%) translateX(-50%) scale(1)
    }
    to {
        -webkit-transform: translateY(-50%) translateX(-50%) scale(0)
    }
}

@keyframes animatezoomout {
    from {
        transform: translateY(-50%) translateX(-50%) scale(1)
    }
    to {
        transform: translateY(-50%) translateX(-50%) scale(0)
    }
}
#backLoginWindow {
    display: none;
    text-align: left;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    position: fixed;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

#loginForm {
    display: inline-block;
    height: 40%;
    min-height: 100px;
    width: 30%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: auto;
    padding-top: 95px;
    background-color: rgba(0, 0, 0, 0.9);
}

#loginForm.on {
    animation: animatezoom 0.5s;
}

#loginForm.out {
    animation: animatezoomout 0.5s;
}

#loginForm * {
    display: block;
    margin: auto;
    width: 60%;
    height: 15%;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#loginForm input[name="login"] {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}